<p>
  The <%= if @docs do %>documentation for<% else %>release<% end %> <%= @package %> v<%= @version %> has failed to publish successfully, and is <b>not available</b> on Hex.pm.
</p>

<p>
  Please try to publish again. If the problem persists, email support at <a href="mailto:support@hex.pm">support@hex.pm</a>.
</p>

<p>
  --<br>
  Hex.pm
</p>
