html {
  position: relative;
  height: 100%;
  min-height: 100%;
}

body {
  @include font-size(16, 30);
  display: flex;
  height: 100%;
  font-family: $base-font-family;
  flex-direction: column;
}

h1,
h2 {
  font-family: $base-title-font-family;
  font-weight: 300;
  text-align: center;
}

.browserupgrade {
  padding: .2em 0;
  margin: .2em 0;
  color: #000;
  background: #ccc;
}

a,
a:hover,
a:focus {
  font-weight: normal;
  color: $color-link;
}

pre {
  background-color: #f8f8f8;
}

code {
  padding: 0 4px;
  background-color: #f8f8f8;
}

.glyphicon {
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.stat-icon {
  float: left;
  height: 45px;
  margin-right: 10px;
  fill: currentColor;
}

.collapsing {
  transition-duration: .5s !important;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0;
}

.form-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a94442;
}

.form-input-error {
  border-color: #a94442;
}

.help-block {
  font-size: 14px;
}

input[type="checkbox"] {
  margin-top: 2px;
}

.dropdown-menu {
  // copied from bootstrap
  li .btn-link {
    display: block;
    width: 100%; // custom
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    text-align: left; // custom
    white-space: nowrap;
  }

  // copied from bootstrap
  li .btn-link:hover,
  li .btn-link:focus,
  li > a:hover,
  li > a:focus {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    background-color: #f5f5f5;
  }

  li > a,
  li .btn-link {
    font-size: 16px;
  }
}

.panel-body-part {
  padding: 15px;
  border-top: 1px solid #ddd;

  h4 {
    margin-top: 0;
  }
}

.section-heading {
  &:hover a.hover-link {
    opacity: 1;
  }

  a.hover-link {
    display: inline-block;
    margin-left: -1.2em;
    font-size: 16px;
    color: #555;
    border: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
}

// Responsive: Portrait tablets and up

@include min-screen(768px) {
  .container {
    width: auto;
    max-width: 1000px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}

.read-only-mode {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #721c24;
  background-color: #f8d7da;
}

.pull-left-non-mobile {
  @media (min-width: 768px) {
    float: left !important;
  }
}

.form-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

button.full-width {
  width: 100%;
  line-height: 2em;
}
