@mixin font-size($size-value, $line-height: 14) {
  font: {
    size: ($size-value / $base-font-size) + rem;
  };

  @if $line-height != 14 {
    line-height: ($line-height / $base-line-height) + rem;
  }
}

@mixin line-height($size-value) {
  line-height: ($size-value / $base-line-height) + rem;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("#{$file-path}.eot");
    src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
    url("#{$file-path}.woff") format("woff"),
    url("#{$file-path}.ttf") format("truetype"),
    url("#{$file-path}.svg##{$font-family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin clear-fix() {
  ::after {
    content: " "; // Older browser do not support empty content
    display: block;
    height: 0;
    clear: both;

    visibility: hidden;
  }
}
