<h2>Reset your password</h2>

<%= form_tag(Routes.password_reset_path(Endpoint, :create)) do %>
  <div class="form-group">
    <label for="username">Username or Email</label>
    <input id="username" type="text" class="form-control" name="username">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
