<div class="bg-gray-50 py-6 h-full">
  <div class="max-w-7xl mx-auto bg-white shadow-lg overflow-hidden sm:rounded-md p-10">
    <iframe src="<%= Routes.package_path(Endpoint, :readme, @package.name) %>" sandbox="allow-same-origin" scrolling="no" class="w-full" id="readme" onload="autoResizeIframe('readme');">
    </iframe>
  </div>
</div>
