<%= for release <- @releases do %>
  <li>
    <a href="<%= path_for_release(@package, release) %>"><strong><%= release.version %></strong></a>
    <%= pretty_datetime(release.inserted_at) %>

    <%= if release.retirement do %>
      (<span class="version-retirement">retired</span>)
    <% else %>
      <%= if release.has_docs do %>
        (<a href="<%= raw Hexpm.Utils.docs_html_url(@package.organization, @package, release) %>">docs</a>)
      <% end %>
    <% end %>
  </li>
<% end %>
