<p>Your Hex.pm password has been reset</p>

<p>
  Your account password has been reset, you have full access to your account at Hex.pm.
</p>

<p>
  <strong>Note:</strong> Your existing keys have been invalidated, you will need to regenerate them by running:
  <br/>
  <pre>mix hex.user auth</pre>

  and entering your username and password.
</p>

<p>
  --<br>
  Hex.pm
</p>
