version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7

  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/assets"
    schedule:
      interval: "weekly"
    ignore:
      # jQuery and Bootstrap will be removed with the design update (coming soon TM)
      - dependency-name: "jquery"
        update-types: ["version-update:semver-major"]
      - dependency-name: "bootstrap"
        update-types: ["version-update:semver-major"]
    cooldown:
      default-days: 7
