source_env_if_exists .local/envrc

# Compile dependencies across multiple OS processes
# https://mix.hexdocs.pm/Mix.Tasks.Deps.Compile.html#module-compiling-dependencies-across-multiple-os-processes
if [ -z "$MIX_OS_DEPS_COMPILE_PARTITION_COUNT" ]; then
  if command -v nproc >/dev/null 2>&1; then
    CORES=$(nproc)
  elif command -v sysctl >/dev/null 2>&1; then
    CORES=$(sysctl -n hw.ncpu)
  else
    CORES=2
  fi
  PARTITIONS=$(( CORES / 2 ))
  [ "$PARTITIONS" -lt 1 ] && PARTITIONS=1
  # On a 10-core machine, increasing the partition count past 4 gradually
  # degrades performance, so we limit it to 4.
  [ "$PARTITIONS" -gt 4 ] && PARTITIONS=4
  export MIX_OS_DEPS_COMPILE_PARTITION_COUNT=$PARTITIONS
fi
