<h2>Device Activation</h2>
<%= form_tag(Routes.web_auth_path(Endpoint, :submit)) do %>
  <div class="form-group">
    <label for="code">Enter the code displayed on your device</label>
    <input id="code" type="text" class="form-control" name="code">
  </div>

  <button type="submit" class="btn btn-primary">Continue</button>

  <br><br>
<% end %>
