<%= case {@status, @message} do %>
  <% {500, _} -> %>
    <h2>Internal Server Error</h2>
    <p>Please contact admins if issues persist</p>
  <% {status, nil} -> %>
    <h2>Error (<%= status %>)</h2>
    <p>Please contact admins if issues persist</p>
  <% {status, message} -> %>
    <h2>Error (<%= status %>)</h2>
    <p><%= message %></p>
<% end %>
