<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= if title, do: "#{title} | " %>hex.pm</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">

      </nav>
      <%= inner(page) %>
    </div>
  </body>
</html>
