<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description(assigns) %>">

    <title><%= title(assigns) %></title>

    <link rel="search" type="application/opensearchdescription+xml" title="Hex" href="/hexsearch.xml">
    <link rel="stylesheet" href="<%= static_path(HexWeb.Endpoint, "/css/main.css") %>">
    <link rel="shortcut icon" href="<%= static_path(HexWeb.Endpoint, "/favicon.png") %>">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="<%= static_path(HexWeb.Endpoint, "/images/hex.png") %>" srcset="<%= static_path(HexWeb.Endpoint, "/images/hex.png") %> 1x, <%= static_path(HexWeb.Endpoint, "/images/hex@2.png") %> 2x, <%= static_path(HexWeb.Endpoint, "/images/hex@3.png") %> 3x" alt="hex logo">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= if show_search?(assigns) do %>
          <form class="navbar-form pull-left" role="search" action="<%= package_path(HexWeb.Endpoint, :index) %>">
             <div class="input-group">
                <input placeholder="Find packages" name="search" type="text" autofocus class="form-control" value="<%= search(assigns) %>">
                <input type="hidden" name="sort" value="downloads">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-search" tabindex="1">
                    <%= icon(:glyphicon, :search) %>
                  </button>
                </div>
             </div>
          </form>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= package_path(HexWeb.Endpoint, :index) %>">Packages</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header menu-dropdown-header">Mix</li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :usage) %>">Usage</a></li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :publish) %>">Publishing packages</a></li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :tasks) %>">Tasks</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header menu-dropdown-header">Rebar3</li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :rebar3_usage) %>">Usage</a></li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :rebar3_publish) %>">Publishing packages</a></li>
                <li><a href="https://www.rebar3.org/v3.0/docs/hex-package-management">Tasks</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= policy_path(HexWeb.Endpoint, :index) %>">Policies</a></li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :mirrors) %>">Mirrors</a></li>
                <li><a href="<%= docs_path(HexWeb.Endpoint, :public_keys) %>">Public keys</a></li>
                <li><a href="https://github.com/hexpm/specifications">Specifications</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="<%= container_class(assigns) %>">
