<%= ViewHelpers.changeset_error(@key_changeset) %>

<div class="row">
  <div class="col-sm-3">
    <%= render DashboardView, "_sidebar.html", assigns %>
  </div>
  <div class="col-sm-9 keys">
    <%= render DashboardView, "_keys.html", assigns %>
  </div>
</div>
