<h2 class="versions-title">
  All available versions of <%= link ViewHelpers.package_name(@package), to: ViewHelpers.path_for_package(@package), class: "version-package-title" %>
</h2>
<div class="clearfix"></div>

<div class="version-list">
  <ul id="versions" class="version-dependency-list">
    <%= render HexpmWeb.PackageView, "versions.html", [package: @package, releases: @releases, all_releases: @releases] %>
  </ul>
</div>
