@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

.xs-collapse {
  display: none;
}

@media(min-width: 768px) {
  .xs-collapse {
    display: block;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

#footer li {
  list-style: none;
  float: left;
  margin: 0 10px;
}

#footer ul {
  margin: 20px 0;
}

#footer .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  padding: 13px 15px;
}

.packages {
  table-layout: fixed;
}

.packages td {
  padding-right: 0 !important;
}


.packages a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none !important;
}

@media (min-width: 768px) {
  .package-meta dt {
    width: 90px;
  }

  .package-meta dd {
    margin-left: 110px;
  }

  .package-meta .label {
    margin-right: 6px;
  }
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  float: left;
  margin-right: 1em;
}

.description {
  margin: 20px 0;
}

.stats {
  width: 100%;
}

.no-decoration {
  text-decoration: none !important;
}

.stats .left {
  width: 35%;
  padding-right: 1.5em;
  text-align: right;
}
