<?xml version="1.0" encoding="utf-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%= for {name, docs_updated_at} <- @packages do %>
  <sitemap>
    <loc><%= Hexpm.Utils.docs_html_url(Repository.hexpm(), %Package{name: name}, nil) <> "sitemap.xml" %></loc>
    <lastmod><%= Hexpm.Utils.binarify(docs_updated_at) %></lastmod>
  </sitemap>
<% end %>
</sitemapindex>
