Welcome to Hex.pm!

To begin using your account, we require you to verify your email address.

You can do so by running the following command on a system where Hex is installed:

  mix hex.user confirm <%= @username %> <%= @key %>

Once this is complete, you will have full access to your Hex account.

Thanks!

--
The Hex.pm Team
