<h2><%= @package_name %> v<%= @version %> published successfully</h2>

<p>
  The latest release of your package, <%= @package_name %> v<%= @version %> has been uploaded successfully, and is now available on Hex.pm.
</p>

<p>
  --<br>
  The Hex.pm team
</p>
