<h2>Your Hex.pm password has been reset</h2>

<p>
  Your account password has been reset, you have full access to your account at Hex.pm.
</p>

<p>
  <strong>Note</strong>: Your existing keys have been invalidated, so you will need to regenerate them by running:
  <br/>
  <pre>mix hex.user auth</pre>
  
  and entering your username and password.
</p>

<p>
  --<br>
  The Hex.pm team
</p>
