body {
  font-family: $base-font-family;
  @include font-size(16 , 30);
  padding-top: 70px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: #ec485b;
}

.stat-icon {
  float: left;
  line-height: 15px;
  margin-right: 10px;
  margin-top: 7px;
}
.stat-icon-package {
  font-size: 45px;
}
.stat-icon-versions {
  font-size: 53px;
}
.stat-icon-calendar {
  font-size: 38px;
}
