html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: $base-font-family;
  @include font-size(16 , 30);
  padding-top: 70px;
  margin-bottom: 88px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a, a:hover, a:focus {
  color: #ec485b;
}

.glyphicon {
  position: relative;
  top: 1px;
  fill: currentColor;
  width: 14px;
  height: 14px;
}

.stat-icon {
  float: left;
  height: 45px;
  fill: currentColor;
  margin-right: 10px;
}

.collapsing {
  transition-duration: .5s !important;
}

.alert {
  margin-bottom: 0px;
  margin-top: 20px;
}

.form-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a94442;
}

.form-input-error {
  border-color: #a94442;
}

input[type="checkbox"] {
  margin-top: 2px;
}


/* Responsive: Portrait tablets and up */

@include min-screen(768px) {
  .container {
    max-width: 1000px;
    width: auto;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
