/*********************************************************************
*  Colors
*********************************************************************/
$color-white:			#ffffff;
$color-black:			#000000;
$color-red:				#a93e42;
$color-light-red:		#e75458;
$color-puple:       #e75458;
$color-light-purple: #e75458;


/*********************************************************************
*  Typography
*********************************************************************/
$base-font-size: 				10;
$base-line-height:  			16;
$base-font-family: 				'Lato', sans-serif;
$base-title-font-family: 		'Lato', sans-serif;
