/*********************************************************************
*  Colors
*********************************************************************/
$color-white:         #ffffff;
$color-black:         #000000;
$color-red:           #aa2c3f;
$color-light-red:     #e75458;
$color-grey:          #d1d3d7;

/*********************************************************************
*  Typography
*********************************************************************/
$base-font-size:          10;
$base-line-height:        16;
$base-font-family:        'Lato', sans-serif;
$base-title-font-family:  'Lato', sans-serif;

/*********************************************************************
*  Font Colors
*********************************************************************/
$text-grey: #5c676d;

/*********************************************************************
*  Elements
*********************************************************************/
$base-border: 1px solid $color-grey;
$base-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
