// Colors
$color-white:         #fff;
$color-black:         #000;
$color-red:           #aa2c3f;
$color-light-red:     #e75458;
$color-grey:          #d1d3d7;
$color-light-grey:    #f4f4f4;
$color-link:          #4f28a7;
$color-text-grey:     #5c676d;
$color-purple:        #714a94;
$color-purple-light:  #f3e8fc;
$color-erl-red:       #ec485b;
$color-erl-red-light: #fee3e6;

// Typography
$base-font-size:          10;
$base-line-height:        16;
$base-font-family:        'Lato', sans-serif;
$base-title-font-family:  'Lato', sans-serif;

// Elements
$base-border: 1px solid $color-grey;
$base-box-shadow: x 1px 4px rgba(0, 0, 0 , .2);
