<.auth_layout
  title="2FA verification required"
  subtitle="Enter an authenticator code or an unused recovery code"
  show_oauth={false}
>
  <.form for={%{}} action={~p"/tfa/verify"} id="tfa-verification-form" class="space-y-6">
    <.text_input
      id="code"
      name="code"
      label="Authentication or recovery code"
      autocomplete="one-time-code"
    />
    <.button type="submit" full_width>Verify 2FA</.button>
  </.form>
</.auth_layout>
