<div class="row">
  <div class="col-sm-3">
    <%= render DashboardView, "_sidebar.html", assigns %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">Setup Security App</div>
      <div class="panel-body">
        <h1>Scan this barcode with your app</h1>
        <div style="text-align:center"><%= raw @qr_code %></div>
      </div>
    </div>
  </div>
</div>
