<li>
  <div class="downloads-info">
    <span class="download-count"><%= human_number_space(@package_downloads || 0) %></span> <br>
    downloads
  </div>
  <a href="<%= path_for_package(@package) %>"><%= package_name(@package) %></a>
  <span class="version"><%= @package.latest_version %></span>
  <p><%= text_length(@package.meta.description, 140) %></p>
</li>
