@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../vendor/css/inter.css";

@import "../vendor/css/github.css";

a {
  @apply underline;
  @apply text-purple-600;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;

  &:hover {
    @apply no-underline;
    @apply text-purple-500;
  }
}

.page-index-header {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../static/images/hex-logo.svg) no-repeat;
  background-position: center 2rem;
  filter: grayscale();
  opacity: 0.1;
}
