@layer components {
  
  .show-post h2{
    @apply hidden;
  }

  .subtitle {
    @apply hidden;
  }

  .show-post{
    @apply space-y-4;
  }

  .blog a{
    @apply text-blue-600;
  }

  .blog p, .blog ul{
    @apply text-gray-600 text-base font-normal;
  }

  .blog ul{
    @apply list-disc pl-4;
  }

  .blog h3{
    @apply text-gray-700 text-2xl font-semibold;
  }

  .blog time, .blog span {
    @apply text-gray-600 text-sm font-medium;
  }

   .blog .author {
    @apply text-gray-800 text-sm font-semibold;
  }

  .blog pre {
    @apply rounded-lg bg-gray-50 py-4 pl-4 text-sm font-normal;
  }

 .blog code {
  @apply text-gray-600 tracking-wide;
 }

  .blog .code-syntax{
    @apply text-primary-600 font-mono;
  }

  .blog .blockquote-p{
    @apply text-gray-600 text-lg font-light;
  }

  .blog .blockquote-span{
    @apply py-10 text-gray-200 text-4xl;  
  }

   .blog .blockquote-div{
    @apply flex gap-8 pl-12;  
  }


}