<div>
  <%= render "_new_comment.html", report: @report %>
  <%= if @comments != [] do %>
    Comments:
    <%= for comment <- @comments do %>
      <%= render "_comment.html", comment: comment%>
    <% end %>
  <% else %>
    No comments for this report
  <% end%>
</div>