<div style="background-color: pink">
  <p>------------A comment form </p>
  <p>---A root comment <button>Reply</button></p>
  <p>-----A reply comment <button>Reply</button></p>
  <p>---Another root comment <button>Reply</button></p>
</div>