<div class="new-comment-div">
  <%= form_tag ~p"/reports/#{@report}/comment" %>
    <textarea class="new-comment-box" name="text" placeholder="Leave comment here..."></textarea>
    <button class="new-comment-submit" type="submit" class="btn">
      Comment
    </button>
</div>
