<div class="new-comment-div">
  <%= form_tag Routes.package_report_path(Endpoint, :new_comment, @report.id) %>
    <textarea class="new-comment-box" name="text" placeholder="Leave comment here..."></textarea>
    <button class="new-comment-submit" type="submit" class="btn">
      Comment
    </button>
</div>