<li>    
    <a href=""><%= @report.package.name %></a>
    <span class="version">
        <%= for ar <- @report.affected_releases do %>
            <button><%= ar.release.version %></button>
        <% end %>
        <%= ViewHelpers.text_length(@report.description, 140) %>
    </span>

</li>