<h2 class="packages-title">
  Package Report for <%= @package_name %>
</h2>

<%= form_tag Routes.package_report_path(Endpoint, :create) do %>
  <input type="hidden" name="package" value="<%= @package_name %>"/>
  <input type="hidden" name="repository" value="<%= @repository %>"/>
  <textarea name="description" placeholder="Enter report description here..."></textarea>
  <input type="text" name="requirement"/>
  <button type="submit" class="btn">
    Submit Report.
  </button>
<% end %>
