// @media (min-width: 1200px) {
//   .container {
//     width: 750px;
//   }
// }
//
// @media (min-width: 992px) {
//   .container {
//     width: 750px;
//   }
// }
//
// .xs-collapse {
//   display: none;
// }
//
// @media(min-width: 768px) {
//   .xs-collapse {
//     display: block;
//   }
// }
//
// html {
//   position: relative;
//   min-height: 100%;
// }
//
// body {
//   margin-bottom: 60px;
// }
//
// pre {
//   background-color: #f8f8f8;
// }
//
// #footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 60px;
//   background-color: #f5f5f5;
// }
//
// #footer li {
//   list-style: none;
//   float: left;
//   margin: 0 10px;
// }
//
// #footer ul {
//   margin: 20px 0;
// }
//
// #footer .container {
//   padding-right: 15px;
//   padding-left: 15px;
// }
//
// .navbar-brand {
//   padding: 13px 15px;
// }
//
// .packages {
//   table-layout: fixed;
//   min-width: 420px;
// }
//
// .packages td {
//   padding-right: 0 !important;
// }
//
//
// .packages a {
//   display: block;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   text-decoration: none !important;
// }
//
// #versions {
//   margin-bottom: 0;
// }
//
// .show-versions {
//   display: none;
//   margin-top: 10px;
// }
// .show-versions .btn:focus, .show-versions .btn:active {
//    outline: none !important;
// }
//
// @media (min-width: 768px) {
//   .package-meta dt {
//     width: 90px;
//   }
//
//   .package-meta dd {
//     margin-left: 110px;
//   }
//
//   .package-meta .label {
//     margin-right: 6px;
//   }
// }
//
// .links {
//   margin: 0;
//   padding: 0;
// }
//
// .links li {
//   list-style: none;
//   float: left;
//   margin-right: 1em;
// }
//
// .description {
//   margin: 20px 0;
// }
//
// .stats {
//   width: 100%;
// }
//
// .no-decoration {
//   text-decoration: none !important;
// }
//
// .stats .left {
//   width: 35%;
//   padding-right: 1.5em;
//   text-align: right;
// }
//
// .downloads {
//   width: 100%;
// }
//
// .downloads .left {
//   width: 40%;
//   padding-right: 1em;
//   text-align: right;
// }
//
// .menu-dropdown-header {
//   font-size: 14px;
//   color: #333;
// }
//
// .snippet, .snippet[readonly] {
//   cursor: default;
//   background-color: transparent;
// }
//
// .package-snippet {
//   margin: 0px 0px 10px;
// }
//
// .green {
//   color: green;
// }
//
// .btn-no-hover:hover {
//   margin-top: 0px;
//   border-bottom-width: 4px;
// }
