@use "../base/mixins";
@use "../base/variables";

.audit-log-title {
  @include mixins.font-size(38, variables.$base-line-height);
  margin: 40px 0;
  color: variables.$color-text-grey;

  .audit-log-package-title {
    color: variables.$color-purple;
  }
}

