.list-group-item {
  margin: 0 0 -1px !important;
}

.list-group-item:last-child {
  margin-bottom: 0 !important;
}

.dashboard > .row {
  margin-top: 20px;
}

.dashboard .sidebar .list-group-item {
  font-weight: 400;

  &:hover {
    background-color: #f9f9f9;
  }

  a {
    text-decoration: none;
  }

  &.selected {
    background-color: #fff;

    a {
      font-weight: bold;
      color: #555;
      cursor: default;
    }

    ::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #6a448e;
    }
  }
}

.dashboard img {
  display: block;
  width: 160px;
  border-radius: 5px;
}

.dashboard p {
  margin: 5px 0 0 !important;
}

.dashboard small {
  font-weight: 300;
  color: #555;
}

.dashboard .email .panel .label {
  margin-left: 4px;
  font-size: .7em;
}

.dashboard .email .address {
  font-weight: 400;
}

.dashboard .email {
  float: right;

  svg {
    width: .9em;
    fill: $color-erl-red;
  }

  button:disabled svg {
    fill: #999;
  }

  .btn-svg {
    margin-top: 3px;
  }

  .btn-link {
    padding: 0;
  }

  .action {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    font-size: .7em;
  }

  .form-inline input#email_email {
    width: 300px;
  }
}

.dashboard .repository {
  float: right;

  form.remove-role,
  form.cancel-billing {
    display: inline-block;
  }

  .member-avatar {
    float: left;
    width: 32px;
  }

  .member-username {
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 1.7em;
    vertical-align: middle;
  }
}

.dashboard .role-dropdown .dropdown-menu-right {
  right: 78px;
}

.dashboard .repository-package-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 5px;
  }
}

.dashboard .tab-pane {
  padding: 10px 0 0;
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
