@use "../base/variables";

.list-group-item {
  margin: 0 0 -1px !important;
}

.list-group-item:last-child {
  margin-bottom: 0 !important;
}

.dashboard > .row {
  margin-top: 20px;
}

.dashboard .sidebar .list-group-item {
  font-weight: 400;

  &:hover {
    background-color: #f9f9f9;
  }

  a {
    text-decoration: none;
  }

  &.selected {
    background-color: #fff;

    a {
      font-weight: bold;
      color: #555;
      cursor: default;
    }

    ::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #6a448e;
    }
  }
}

.dashboard img {
  display: block;
  width: 160px;
  border-radius: 5px;
}

.dashboard p {
  margin: 5px 0 0 !important;
}

.dashboard small {
  font-weight: 300;
  color: #555;
}

.dashboard .security {
  .recovery-codes-panel {
    border-bottom: variables.$base-border;
  }

  .recovery-code {
    float: left;
    width: 50%;
    margin-bottom: 1em;
    font-family: monospace;
    font-weight: 600;
  }

  .recovery-code .recovery-code-used {
    color: variables.$color-grey;
  }

  .recovery-codes-container button {
    margin-top: 15px;
    margin-right: 8px;
  }
}

.dashboard .email .panel .label {
  margin-left: 4px;
  font-size: .7em;
}

.dashboard .email .address {
  font-weight: 400;
}

.dashboard .email {
  float: right;

  svg {
    width: .9em;
    fill: variables.$color-erl-red;
  }

  button:disabled svg {
    fill: #999;
  }

  .btn-svg {
    margin-top: 3px;
  }

  .btn-link {
    padding: 0;
  }

  .action {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    font-size: .7em;
  }

  .form-inline input#email_email {
    width: 300px;
  }
}

.dashboard .organization {
  @media (min-width: 768px) {
    float: right;
  }

  form.remove-role,
  form.cancel-billing {
    display: inline-block;
  }

  form.add-member {
    margin-bottom: .5em;
  }

  input.change-seats,
  select.change-seats {
    display: inline-block;
    width: 50px;
    padding: 6px 3px 6px 6px;
    text-align: right;
    vertical-align: middle;
  }

  .billing-button {
    display: block;
  }

  .member-avatar {
    float: left;
    width: 32px;
  }

  .member-username {
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 1.7em;
    vertical-align: middle;
  }
}

.dashboard .role-dropdown .dropdown-menu-right {
  right: 78px;
}

.dashboard .organization-package-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 5px;
  }
}

.dashboard .monthly-cost-calc {
  color: #666;
  font-style: italic;
}

.dashboard .tab-pane {
  padding: 10px 0 0;
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dashboard li,
.dashboard ol {
  font-weight: normal;
}

.permission-group {
  .group-child {
    margin-left: 2rem;
  }
}

.panel-heading.with-button {
  padding: 15px;

  form {
    float: right;
    margin-top: -8px;
  }
}

// Security page styles
.security-github-form {
  margin-top: 15px;
}

.security-connect-btn {
  margin-top: 15px;
  display: inline-block;
}

.security-button-group {
  display: flex;
  gap: 10px;
}

.security-hidden-form {
  display: none;
}

.security-note {
  margin-top: 15px;
}

.security-tfa-enable-btn {
  float: right;
  margin-top: -8px;
}

// TFA setup page styles
.tfa-qr-container {
  text-align: center;
}

// Organization page styles
.org-member-actions {
  float: right;
}

.org-add-member-input {
  width: 250px;
}

.org-add-member-role {
  width: 80px;
}

.org-danger-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.org-danger-item-content {
  flex: 1;
}

.org-confirm-input {
  width: 100%;
  margin-top: 15px;
}
