.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  overflow: scroll;
  color: $color-white;
  background: #a4a6af;
  border-top: 1px solid #cbccd2;

  .footer-nav {
    padding: 20px;

    ul {
      padding: 0;
      margin: 0;
      font-size: .8em;
      list-style: none;
    }

    a {
      color: $color-white;
    }
  }
}
