@use "../base/variables";

.footer {
  width: 100%;
  flex-shrink: 0;
  margin-top: 30px;
  color: variables.$color-white;
  background: #3e424d;
  border-top: 1px solid #cbccd2;

  .footer-nav {
    padding: 20px;

    ul {
      padding: 0;
      margin: 0;
      font-size: .8em;
      list-style: none;
    }

    a {
      color: variables.$color-white;
    }
  }

  .copyright {
    margin-top: 12px;
    font-size:14px;
  }
}
