.featured-home {
  background: #3e424d url("../images/bg-featured-home.png") no-repeat right bottom;
  background-size: 1154px;

  @include hdpi(2) {
    background: #3e424d url("../images/bg-featured-home@2.png") no-repeat right bottom;
    background-size: 1154px;
  }

  @include hdpi(3) {
    background: #3e424d url("../images/bg-featured-home@3.png") no-repeat right bottom;
    background-size: 1154px;
  }

  .alert {
    margin-bottom: -20px;
  }
}

.search-form {
  padding: 20px 0 0;
  margin-bottom: 60px;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 100;
    color: #ededed;
  }

  .input-group {
    padding: 1px 2px;
    background: #fff;
    border-radius: 4px;
  }

  .btn-search {
    color: #adb3b6;
    background: $color-white;
  }

  input {
    border: 0;
    box-shadow: none;

    ::-webkit-input-placeholder {
      color: #8e899c;
    }

    ::-moz-placeholder {
      color: #8e899c;
    }

    :-ms-input-placeholder {
      color: #8e899c;
    }
  }
}

// How to use Boxes
.using-with-box {
  position: relative;
  margin-bottom: 40px;

  h3 a {
    color: #4f2e85;
  }
}

.shadow {
  position: absolute;
  top: 10px;
  left: -1%;
  z-index: 200;
  width: 102%;
  height: 180px;
  background: #8f9198;

  @include general-mobile {
    height: 92%;
  }
}

.text-content {
  position: relative;
  z-index: 300;
  background: $color-white;

  .side-box {
    position: relative;
    float: left;
    width: 90px;
    min-height: 200px;

    @include general-mobile {
      width: 0;
    }

    .lang-symbol {
      position: absolute;
      top: 50%;
      left: 25px;
      width: 124px;
      height: 124px;
      margin-top: -62px;
      border-radius: 50%;

      @include general-mobile {
        top: 35%;
        left: 5px;
        width: 40px;
        height: 40px;
      }
    }
  }

  .instructions {
    padding-right: 20px;
    padding-left: 180px;

    @include general-mobile {
      padding-left: 20px;
    }

    h3 {
      @include font-size(22, 30);
      margin-bottom: 25px;
      font-weight: bold;
      color: #1e1c17;

      @include general-mobile {
        text-align: right;
      }
    }

    p {
      @include font-size(16, 40);

      code {
        display: inline-block;
        font-weight: bold;
      }
    }
  }
}

.elixir .side-box {
  background: $color-purple;

  .lang-symbol {
    background: $color-purple-light url("../images/elixir.png") center no-repeat;
    background-size: 52px;

    @include hdpi(2) {
      background: $color-purple-light url("../images/elixir@2.png") center no-repeat;
      background-size: 52px;
    }

    @include hdpi(3) {
      background: $color-purple-light url("../images/elixir@3.png") center no-repeat;
      background-size: 52px;
    }

    @include general-mobile {
      background-size: 20px;
    }
  }
}

.erlang .side-box {
  background: $color-erl-red;

  .lang-symbol {
    background: $color-erl-red-light url("../images/erlang.png") center no-repeat;
    background-size: 66px;

    @include hdpi(2) {
      background: $color-erl-red-light url("../images/erlang@2.png") center no-repeat;
      background-size: 66px;
    }

    @include hdpi(3) {
      background: $color-erl-red-light url("../images/erlang@3.png") center no-repeat;
      background-size: 66px;
    }

    @include general-mobile {
      background-size: 20px;
    }
  }
}

.log-head {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  border-bottom: #4f2e85 1px solid;
}

.log-body {
  padding-bottom: 20px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        font-size: 18px;
        line-height: 18px;
      }

      span {
        display: block;
        line-height: 17px;
      }

      .title-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title {
        word-break: break-all;
        word-wrap: break-word;
        white-space: nowrap;
      }

      .description {
        overflow: hidden;
        font-size: 12px;
        font-weight: 300;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .published-at {
        font-size: 12px;
        font-weight: 300;

        a {
          font-size: 12px;
        }
      }
    }
  }
}
