.featured-home {
  background: #3e424d url("../images/bg-featured-home.png") no-repeat bottom;
  background-size: 750px;

  @include hdpi(2) {
    background: #3e424d url("../images/bg-featured-home@2.png") no-repeat bottom;
    background-size: 750px;
  }

  @include hdpi(3) {
    background: #3e424d url("../images/bg-featured-home@3.png") no-repeat bottom;
    background-size: 750px;
  }

  .alert {
    margin-bottom: -20px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 100;
    color: #ededed;

    @include general-mobile {
      font-size: 30px;
    }
  }
}

.using-with-boxes {
  margin: 0 auto;
  overflow: auto;

  @media (min-width: 1040px) {
    display: flex;
    width: 1040px;
    height: 240px;
    justify-content: center;
  }

  @media (max-width: 1039px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.using-with-box {
  @media (min-width: 1040px) {
    width: 45%;
    margin: 0 20px;
  }

  @media (max-width: 1039px) {
    margin-bottom: 20px;
  }

  position: relative;

  h3 a {
    color: #4f2e85;
  }

  .shadow {
    position: absolute;
    top: 10px;
    left: -1%;
    z-index: 200;
    width: 102%;
    height: 170px;
    background: #8f9198;

    @include general-mobile {
      height: 92%;
    }
  }

  .text-content {
    position: relative;
    z-index: 300;
    background: $color-white;

    .side-box {
      position: relative;
      float: left;
      width: 90px;
      min-height: 190px;

      @include general-mobile {
        width: 0;
      }

      .lang-symbol {
        position: absolute;
        top: 40px;
        left: 35px;
        width: 110px;
        height: 110px;
        border-radius: 50%;

        @include general-mobile {
          top: 5px;
          left: 5px;
          width: 40px;
          height: 40px;
        }
      }
    }

    .instructions {
      padding-right: 15px;
      padding-left: 165px;

      @include general-mobile {
        padding-left: 20px;
      }

      h3 {
        @include font-size(22, 30);
        margin: 16px 0;
        font-weight: bold;
        color: #1e1c17;

        @include general-mobile {
          text-align: right;
        }
      }

      p {
        @include font-size(16, 40);
      }

      code {
        display: inline-block;
        font-weight: bold;
      }
    }
  }
}

.elixir .side-box {
  background: $color-purple;

  .lang-symbol {
    background: $color-purple-light url("../images/elixir.png") center no-repeat;
    background-size: 46px;

    @include hdpi(2) {
      background: $color-purple-light url("../images/elixir@2.png") center no-repeat;
      background-size: 46px;
    }

    @include hdpi(3) {
      background: $color-purple-light url("../images/elixir@3.png") center no-repeat;
      background-size: 46px;
    }

    @include general-mobile {
      background-size: 20px;
    }
  }
}

.erlang .side-box {
  background: $color-erl-red;

  .lang-symbol {
    background: $color-erl-red-light url("../images/erlang.png") center no-repeat;
    background-size: 60px;

    @include hdpi(2) {
      background: $color-erl-red-light url("../images/erlang@2.png") center no-repeat;
      background-size: 60px;
    }

    @include hdpi(3) {
      background: $color-erl-red-light url("../static/images/erlang@3.png") center no-repeat;
      background-size: 60px;
    }

    @include general-mobile {
      background-size: 20px;
    }
  }
}

.search-form {
  margin-bottom: 40px;
  text-align: center;

  .input-group {
    border: 10px solid rgba(0, 0, 0, .1);
    border-radius: 8px;

    #search {
      border: 0;
      border-radius: 4px 0 0 4px;
    }
  }
}

.log-head,
.gs-head {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  border-bottom: #4f2e85 1px solid;
}

.getting-started {
  padding-top: 20px;

  p {
    font-weight: 300;
    line-height: 1.4em;
  }
}

h3 > .header-icon {
  height: 1em;
  margin-right: .1em;
  vertical-align: middle;
}

.log-body {
  padding: 10px 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        font-size: 18px;
        line-height: 18px;
      }

      span {
        line-height: 15px;
      }

      .title-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title {
        word-break: break-all;
        word-wrap: break-word;
        white-space: nowrap;
      }

      .description {
        display: block;
        overflow: hidden;
        font-size: 12px;
        font-weight: 300;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .published-at {
        font-size: 12px;
        font-weight: 300;

        a {
          font-size: 12px;
        }
      }
    }
  }
}
