.login p {
  font-weight: 400 !important;
}

.login-github-btn {
  margin-bottom: 20px;
}

.login-divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}

.login-forgot-password {
  float: right;
}
