.navbar {
  min-height: 70px;
  margin-bottom: 0;
  background: $color-text-grey;
  border: 0;
  border-bottom: #919ca2 1px solid;
  border-radius: 0;
}

.navbar-default .navbar-avatar {
  width: 40px;
  margin: 0 0 0 5px;
  border-radius: 5px;
}

.nav.navbar-nav {
  @media (min-width: 768px) {
    float: right;
  }

  @media (max-width: 767px) {
    margin: 0 -15px;
  }
}

.navbar-default .navbar-nav > li > a {
  @media (min-width: 768px) {
    @include font-size(16, 115);
    height: 70px;
  }

  @media (max-width: 767px) {
    @include font-size(16, 70);
    height: 50px;
  }

  padding-top: 0;
  padding-bottom: 0;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.navbar form[role="search"] {
  padding: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
  border: 4px solid rgba(0, 0, 0, .1);
  border-radius: 4px;

  input,
  button {
    margin: 0;
  }
}

.navbar-default .navbar-form {
  border: 0;

  @include general-mobile {
    padding: 0 15px 0 10px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-left: -15px;
    border-top: 0;
    box-shadow: none;
  }

  input,
  button {
    // Vertical centering
    margin-top: 10px;
    margin-bottom: 10px;

    // Override bootstrap gradient style for navbar forms.
    border-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  button.btn {
    color: #adb3b6;
    background: $color-white;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $color-white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $color-white;
  background-color: #6c7479;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  @include general-mobile {
    color: $color-white;
  }
}

.navbar .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 200px;
  background: #6c7479;
  border: 0;
  box-shadow: none;

  // copied from bootstrap
  li .btn-link {
    display: block;
    width: 100%; // custom
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    text-align: left; // custom
    white-space: nowrap;
  }

  // copied from bootstrap
  li .btn-link:hover,
  li .btn-link:focus,
  li > a:hover,
  li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }

  li > a,
  li .btn-link {
    padding: 5px 15px 5px 25px;
    font-size: 13px;
    color: $color-white;
  }

  .divider {
    @media (max-width: 767px) {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    background-color: $color-text-grey;
  }

  form {
    padding: 0;
    margin: 0;
  }

  .dropdown-header.menu-dropdown-header {
    font-size: 15px;
    font-weight: bold;
    color: $color-white;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-brand {
  max-width: 120px;
  height: auto;
}
