@use "../base/mixins";
@use "../base/variables";
@use "../vendor/media-queries";

.packages-title {
  @include mixins.font-size(38, variables.$base-line-height);
  margin: 40px 0;
  color: variables.$color-text-grey;
}

.letter-sort > .list {
  padding: 15px 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border: variables.$base-border;
  border-right: 0;
  border-left: 0;

  @include media-queries.general-mobile {
    box-shadow: variables.$base-box-shadow;

    > li {
      margin: 10px;
    }
  }

  > li {
    @include mixins.font-size(22, variables.$base-line-height);
    @include mixins.line-height(36);
    display: inline-block;
    margin: 0 8px;
    font-size: 20px;
    text-transform: uppercase;
  }

  > li > a {
    font-weight: 300;
    color: variables.$color-text-grey;
  }

  > li > a:hover {
    color: variables.$color-link;
  }
}

.sort-results {
  padding: 40px 20px 10px;
}

.package-list,
.exact-match {
  padding: 20px 0;

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 18px;

      &:nth-child(even) {
        background: variables.$color-light-grey;
      }

      a {
        @include mixins.font-size(26, variables.$base-line-height);
        line-height: 25px;
        color: variables.$color-link;
        word-wrap: break-word;
      }

      .version {
        @include mixins.font-size(18, variables.$base-line-height);
        font-weight: 300;
        color: variables.$color-text-grey;
      }

      p {
        @include mixins.font-size(14, variables.$base-line-height);
        padding: 10px 0 0;
        margin: 0;
        font-weight: 300;
        line-height: 16px;
      }

      .downloads-info {
        @include mixins.font-size(18, variables.$base-line-height);
        float: right;
        font-weight: 300;
        color: variables.$color-text-grey;
        text-align: right;

        .download-count {
          display: inline-block;
          padding: 0 0 10px;
          font-weight: bold;
          color: variables.$color-text-grey;
        }

        .downloads-count-wrapper {
          position: relative;
          display: inline-block;

          .downloads-count-desc {
            border-bottom: 1px dotted variables.$color-purple;
          }

          .tooltiptext {
            @include mixins.font-size(14, variables.$base-line-height);
            position: relative;
            top: -2em;
            width: 300px;
            padding: 5px;
            color: variables.$color-white;
            text-align: center;
            text-transform: none;
            visibility: hidden;
            background-color: variables.$color-text-grey;
            border: #919ca2 1px solid;
            border-radius: 4px;
            transition: all .3s ease-in-out;
          }
        }

        .downloads-count-wrapper:hover .tooltiptext {
          top: 1.2em;
          visibility: visible;
          transition: all .2s ease;
        }
      }
    }
  }

  h5 {
    font-style: italic;
    color: #999;
  }
}

.exact-match {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.pagination-widget {
  float: right;
}

.pagination-info,
.pagination-sort {
  @include mixins.font-size(16, variables.$base-line-height);
  float: left;
  padding: 10px;
  font-weight: 300;
  color: variables.$color-text-grey;
}

.pagination-info {
  @include media-queries.general-mobile {
    padding: 10px 0;
  }
}

.pagination-sort {
  @include media-queries.general-mobile {
    float: right;
    padding: 10px 0;
  }
}

.pagination {
  margin: 0;

  li {
    a,
    a:hover,
    a:focus,
    span,
    span:hover,
    span:focus {
      color: variables.$color-link;
    }
  }

  .active {
    a,
    a:hover,
    a:focus,
    span,
    span:hover,
    span:focus {
      background-color: variables.$color-link;
      border-color: variables.$color-link;
    }
  }
}
