.package-title {
  @include font-size(50);
  margin-bottom: 10px;
  font-weight: 300;
  color: $color-purple;
  word-wrap: break-word;

  a {
    line-height: 50px;
  }

  .version {
    @include font-size(20, $base-line-height);
    padding: 0 0 0 4px;
    color: #969da1;

    &.retired {
      color: $color-red;
    }
  }
}

.package-view {
  h3 {
    @include font-size(20, $base-line-height);
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
  }

  .description {
    padding: 15px 0 10px;
    font-weight: 300;
    line-height: 20px;
    border-bottom: #ccc 1px solid;
  }
}

.links {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 5px;
  }
}

.build-tool {
  display: inline-block;
  padding: 4px 6px;
  color: $color-white;
  border-radius: 4px;

  &.mix {
    background: #775199;
  }

  &.rebar {
    background: #c65252;
  }

  &.rebar3 {
    background: #c65252;
  }

  &.make {
    background: $color-text-grey;
  }
}

.config-tool {
  @include font-size(18, $base-line-height);
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
}

.config-input {
  margin-bottom: 10px;

  input {
    border: 1px #c1bfbf solid;
    border-radius: 2px;
  }
}

.version-dependency-list {
  padding: 0;
  list-style: none;

  li {
    @include font-size(18);
    margin: 0 0 10px;
    overflow: hidden;
    font-weight: 300;
    line-height: 1.06;  // Just enough for e.g. the bottom of a "g" not to be cut off.
    color: #000;
    text-overflow: ellipsis;
  }
}

.owners-list {
  padding: 0;
  list-style: none;

  li {
    margin: 5px 0;
  }
}

.owner-avatar {
  width: 30px;
  margin: 0 7px;
  border-radius: 5px;
}

.version-retirement {
  font-weight: normal;
  color: $color-red;
}
