.package-title {
  @include font-size(50);
  margin-bottom: 10px;
  font-weight: 300;
  color: $color-purple;
  word-wrap: break-word;

  a {
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
  }

  .version {
    @include font-size(20, $base-line-height);
    padding: 0 0 0 4px;
    color: #969da1;

    &.retired {
      color: $color-red;
    }
  }
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.with-divider {
  padding-bottom: 1em;
  margin-bottom: .66em;
  border-bottom: 1px solid #ccc;
}

.package-view {
  h3 {
    @include font-size(20, $base-line-height);
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;

    span.attr-count {
      font-size: 88%;
      font-weight: 300;
    }
  }

  .description {
    padding: 1em 0;
    font-weight: 300;
    line-height: 20px;
  }
}

.links {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 5px;

    svg {
      height: 16px;
      margin-bottom: -2px;
      margin-left: 4px;
      fill: #4f28a7;
    }
  }
}

.package-stats {

  svg.stat-icon {
    height: 24px;
  }

  &.stats ul {
    text-align: left;
  }

}

.build-tool {
  display: inline-block;
  padding: 4px 6px;
  color: $color-white;
  background: $color-text-grey;
  border-radius: 4px;

  &.mix {
    background: #775199;
  }

  &.rebar {
    background: #c65252;
  }

  &.rebar3 {
    background: #c65252;
  }
}

.config-tool {
  @include font-size(18, $base-line-height);
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
}

.config-input {
  margin-bottom: 10px;

  input {
    border: 1px #c1bfbf solid;
    border-radius: 2px;
  }
}

.version-dependency-list {
  padding: 0;
  list-style: none;

  li {
    @include font-size(18);
    margin: 0 0 10px;
    overflow: hidden;
    font-weight: 300;
    line-height: 1.06;  // Just enough for e.g. the bottom of a "g" not to be cut off.
    color: #000;
    text-overflow: ellipsis;

    span.attr-optional {
      font-size: 88%;
      font-style: italic;
      font-weight: 300;
    }

    svg {
      height: 16px;
      margin-bottom: -2px;
      margin-left: 4px;
      fill: #4f28a7;

      &.octicon-diff {
        height: 14px;
        margin-bottom: 0;
      }

    }
  }
}

.owners-list {
  padding: 0;
  list-style: none;

  li {
    margin: 5px 0;
  }
}

.audit-logs-list {
  padding: 0;
  list-style: none;

  li {
    @include font-size(18);
    margin: 0 0 10px;
    overflow: hidden;
    font-weight: 300;
    line-height: 1.06;  // Just enough for e.g. the bottom of a "g" not to be cut off.
    color: #000;
    text-overflow: ellipsis;
  }
}

.user-avatar {
  width: 30px;
  margin: 0 7px;
  border-radius: 5px;
}

.version-retirement {
  font-weight: normal;
  color: $color-red;
}
