.page {
  h2 {
    @include font-size(35, 50);
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 300;
    color: $color-purple;
    border-bottom: #ccc 1px solid;
  }

  p {
    @include font-size(16, 35);
    margin-bottom: 20px;
    font-weight: 300;
    color: #555;
  }

  ol,
  li {
    @include font-size(16, 35);
    font-weight: 300;
    color: #555;

    p {
      margin-bottom: 0;
    }
  }

  .first-header {
    margin-top: 0;
  }
}

.page-sm {
  width: auto;
  max-width: 767px;
}

.page-xs {
  width: auto;
  max-width: 667px;
}
