.pricing {
  margin-top: 10px;

  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
  }

  .btn-group-wrap {
    margin-top: 20px;
    text-align: center;

    .btn {
      width: 100px;
    }

    .btn:focus {
      outline: 0;
    }
  }

  .btn-selected {
    color: #fff;
    background: #5c676d;
  }

  .boxes {
    width: 800px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
  }

  .box {
    position: relative;
    float: left;
    margin: 25px;
    color: #fff;

    .shadow {
      position: absolute;
      top: 10px;
      left: -2%;
      z-index: 200;
      width: 104%;
      height: 430px;
      background: #8f9198;

      @include general-mobile {
        height: 94%;
      }
    }

    .text-content {
      position: relative;
      z-index: 300;
      width: 350px;
      height: 450px;
      padding: 20px;
      background-color: rgb(62, 66, 77);
    }

    .btn-primary {
      width: 200px;
      height: 40px;
      font-size: 1.15em;
      color: #fff;
      background-color: #5c676d;
      border-color: #6a7277;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #fff;
    }

    p {
      color: #fff;
    }

    li {
      color: #fff;
    }
  }

  .price {
    margin-top: 50px;
  }

  .price.price-yearly {
    display: none;
  }

  .price-amount {
    margin: 30px;
    font-size: 60px;
    font-weight: bold;
  }

  .price-details {
    margin: 0;
  }

  .features {
    padding: 0;
    margin-top: 35px;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;

    li {
      padding: 0;
      font-weight: 400;
    }
  }

  .action {
    margin-top: 40px;
  }

  .info {
    width: 800px;
    margin: 20px auto 0;
    overflow: auto;

    p {
      margin-bottom: 10px;
    }
  }
}
