.pricing {
  margin-top: 10px;

  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
  }

  .boxes {
    width: 800px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;

    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .box {
    float: left;
    width: 350px;
    padding: 20px;
    margin: 25px;
    background-color: #eaecf3;
    border-radius: 5px;
  }

  .price {
    margin-top: 50px;
  }

  .price-amount {
    margin: 30px;
    font-size: 60px;
    font-weight: bold;
  }

  .price-details {
    margin: 0;
  }

  .features {
    padding: 0;
    margin-top: 35px;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;

    li {
      padding: 0;
      font-weight: 400;
    }
  }

  .action {
    margin-top: 40px;
  }

  .info {
    width: 800px;
    margin: 20px auto 0;
    overflow: auto;

    p {
      margin-bottom: 10px;
    }
  }
}
