.signup p {
  font-weight: 400 !important;
}

.signup-github-btn {
  margin-bottom: 20px;
}

.signup-divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}

.complete-signup-button-group {
  display: flex;
  gap: 10px;
}
