.sponsors-preamble {
  margin-bottom: 30px;
}

.sponsors {
  img {
    width: 250px;
  }

  .image {
    text-align: center;
  }

  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #ccc 1px solid;
  }

  .dashbit .image, .travis .image {
    margin-bottom: 10px;
  }

  .simplebet .image {
    margin-bottom: 5px;
  }
}
