.home-stats ul li {
  width: 18%;
}

.package-stats ul li {
  width: 24%;
}

.stats {
  padding-top: 20px;
}

.stats ul {
  text-align: center;
  list-style: none;
}

.stats ul li {
  display: inline-block;

  @media (max-width: 575px) {
    .stat-icon {
      margin-bottom: 5px;
      clear: both;

      @media (min-width: 992px) {
        clear: none;
      }
    }
  }

  .stat-info {
    float: left;
    clear: both;
    font-size: 10px;
    line-height: 10px;
    color: #000;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 15px;
    }

    @media (min-width: 992px) {
      clear: none;
    }

    .count-info {
      font-weight: bold;
      white-space: nowrap;

      @media (max-width: 767px) {
        font-size: 15px;
      }

      @media (min-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 575px) {
        &.wrap {
          display: inline-block;
        }

        &.no-wrap {
          display: none;
        }
      }

      @media (min-width: 576px) {
        &.wrap {
          display: none;
        }

        &.no-wrap {
          display: inline-block;
        }
      }
    }
  }
}
