.versions-title {
  @include font-size(38, $base-line-height);
  margin: 40px 0;
  color: $color-text-grey;

  .version-package-title {
    color: $color-purple;
  }
}

.version-list {
  padding: 20px 0;

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 18px;

      &:nth-child(even) {
        background: $color-light-grey;
      }

      a {
        color: $color-link;
        word-wrap: break-word;

        &.version-number {
          @include font-size(26, $base-line-height);
          padding-right: .25em;
          line-height: 25px;
        }
      }

      .release-date {
        @include font-size(18, $base-line-height);
        font-weight: 300;
        color: $color-text-grey;
      }

      p {
        @include font-size(14, $base-line-height);
        padding: 10px 0 0;
        margin: 0;
        font-weight: 300;
        line-height: 16px;
      }
    }
  }

  h5 {
    font-style: italic;
    color: #999;
  }
}
