@use "../base/mixins";
@use "../base/variables";

.versions-title {
  @include mixins.font-size(38, 66.88);
  margin: 40px 0;
  color: variables.$color-text-grey;

  .version-package-title {
    color: variables.$color-purple;
  }
}

.version-list {
  padding: 20px 0;

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 18px;

      &:nth-child(even) {
        background: variables.$color-light-grey;
      }

      a {
        color: variables.$color-link;
        word-wrap: break-word;

        &.version-number {
          @include mixins.font-size(26, variables.$base-line-height);
          padding-right: .25em;
          line-height: 25px;
        }
      }

      .release-date {
        @include mixins.font-size(18, variables.$base-line-height);
        font-weight: 300;
        color: variables.$color-text-grey;
      }

      p {
        @include mixins.font-size(14, variables.$base-line-height);
        padding: 10px 0 0;
        margin: 0;
        font-weight: 300;
        line-height: 16px;
      }
    }
  }

  h5 {
    font-style: italic;
    color: #999;
  }
}
