<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag(password_reset_path(Endpoint, :create)) do %>
      <h2>Reset your password</h2>

      <div class="form-group">
        <label for="username">Username or Email</label>
        <input type="text" class="form-control" name="username">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
  </div>
</div>
