<pre>
  Name: <%= @name %>
  Members: <%= @members %>
  Open source: <%= @opensource %>
</pre>

<pre>
  Username: <%= @user.username %>
  Full name: <%= @user.full_name %>
  Email: <%= User.email(@user, :primary) %>
  Link: <a href="<%= Routes.user_url(Endpoint, :show, @user) %>"><%= Routes.user_url(Endpoint, :show, @user) %></a>
</pre>
