.list-group-item {
  margin: 0 0 -1px 0 !important;
}

.list-group-item:last-child {
  margin-bottom: 0 !important;
}

.dashboard .row {
  margin-top: 20px;
}

.dashboard .sidebar .list-group-item {
  font-weight: 400;

  &:hover {
    background-color: #f9f9f9;
  }

  a {
    text-decoration: none;
  }

  &.selected {
    background-color: #fff;

    a {
      color: #555;
      font-weight: bold;
      cursor: default;
    }

    :before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      content: "";
      background-color: #ec485b;
    }
  }
}

.dashboard img {
  width: 160px;
  display: block;
  border-radius: 5px;
}

.dashboard p {
  margin: 5px 0 0 0 !important;
}

.dashboard small {
  font-weight: 300;
  color: #555555;
}

.dashboard .email .panel .label {
  margin-left: 4px;
  font-size: 0.7em;
}

.dashboard .email .address {
  font-weight: 400;
}

.dashboard .email {
  float: right;

  svg {
    width: 0.9em;
    fill: #ec485b;
  }

  button:disabled svg {
    fill: #999;
  }

  .btn-svg {
    margin-top: 3px;
  }

  .btn-link {
    padding: 0;
  }

  .action {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    font-size: 0.7em;
  }

  .form-inline input#email_email {
    width: 300px;
  }
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
