.error-view {
  margin-top: 100px;
  margin-bottom: 100px;
  h1 {
    font-size: 140px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .letter_1 {
    color: #f0b438;
  }
  .letter_2 {
    color: #618ac9;
  }
  .letter_3 {
    color: #89b551;
  }
  .message {
    font-size: 100px;
    color: #5c676d;
  }
}
