.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88px;
  padding-top: 50px;

  .footer-nav {
    background: #a4a6af;

    ul {
      padding: 0;
      margin: 0;
      text-align: center;
      list-style: none;

      li {
        display: inline-block;

        &:hover {
          background: #9799a5;
        }

        a {
          display: block;
          padding: 10px;
          font-size: 15px;
          color: $color-white;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
