.navbar {
  min-height: 70px;
  margin-bottom: 0px;
  background: #5c676d;
  border-bottom: #919ca2 1px solid;
}

.navbar-default .navbar-avatar {
  width: 40px;
  border-radius: 100%;
  margin: 0 0 0 5px;
}

.nav.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > li > a {
  color: $color-white;
  height: 70px;
  @include font-size(16 , 115);
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    color: $color-white;
  }
}

.navbar-default .navbar-form {
  @include general-mobile {
    border-top: none;
    box-shadow: none;
    padding: 7px 15px 10px 15px;
  }
  input, button {
    // Vertical centering
    margin-top: 10px;
    margin-bottom: 10px;

    // Override bootstrap gradient style for navbar forms.
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: white;
  }

  button.btn {
    background: $color-white;
    color: #adb3b6;
  }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $color-white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #6c7479;
  color: $color-white;
}



.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  @include general-mobile {
    color: $color-white;
  }
}

// copied from bootstrap
.dropdown-menu {
  li .btn-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

    // custom
    width: 100%;
    text-align: left;
  }
  li .btn-link:hover,
  li .btn-link:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

.dropdown-menu {
  background: #6c7479;
  border: none;
  box-shadow: none;
  right: 0px;
  left: auto;
  min-width: 200px;

  li > a, li .btn-link {
    color: $color-white;
    font-size: 13px;
  }

  .divider {
    background-color: #5c676d;
  }

  .dropdown-header.menu-dropdown-header {
    color: $color-white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  margin-top: 20px;
}
