.page {
  h2 {
    color: #714a94;
    @include font-size(35 , 50);
    font-weight: 300;
    border-bottom: #cccccc 1px solid;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
  }

  p, ol, li {
    color: #555555;
    font-weight: 300;
    @include font-size(16 , 35);
    margin-bottom: 20px;
  }

  .first-header {
    margin-top: 0;
  }
}
