.page {
  h2 {
    @include font-size(35, 50);
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 300;
    color: $color-purple;
    border-bottom: #ccc 1px solid;
  }

  p {
    @include font-size(16, 35);
    margin-bottom: 20px;
    font-weight: 300;
    color: #555;
  }

  ol,
  li {
    @include font-size(16, 35);
    font-weight: 300;
    color: #555;
  }

  ul {
    list-style-type: circle;
  }

  .first-header {
    margin-top: 0;
  }
}
