.sponsors-preamble {
  margin-bottom: 30px;
}

.sponsors {
  img {
    width: 250px;
  }

  .image {
    text-align: center;
  }

  .row {
    border-bottom: #cccccc 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
