.user {
  .user-package-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }

  .user-profile-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    li {
      margin-bottom: 3px;
    }
  }

  .avatar {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  a {
    font-weight: 400;
  }
}

.user-edit a {
  font-weight: 400 !important;
}
