#!/bin/sh
set -e

export RELEASE_COOKIE=$COOKIE
export POD_A_RECORD=$(echo $POD_IP | sed 's/\./-/g')
export RELEASE_NODE="hexpm@${POD_A_RECORD}.${POD_NAMESPACE}.pod.cluster.local"

# To start your system using IEx: "$(dirname "$0")/<%= @release.name %>" start_iex
# To start it as a daemon using IEx: "$(dirname "$0")/<%= @release.name %>" daemon_iex
"$(dirname "$0")/<%= @release.name %>" start
