## Customize flags given to the VM: http://erlang.org/doc/man/erl.html
## -name/-sname/-setcookie are given via the CLI, do not set them here

## Preloads all modules instead of loading them dynamically
-mode embedded

## Number of dirty schedulers doing IO work (file, sockets, etc)
##+SDio 5

## Increase number of concurrent ports/sockets
##+Q 65536

## Tweak GC to run more often
##-env ERL_FULLSWEEP_AFTER 10
