<%= if Application.get_env(:hexpm, :read_only_mode, false) do %>
  <div class="read-only-mode" role="alert">
    <div class="container">
      Hex.pm is currently in read only mode due to maintenance,
      parts of the website may not work as expected
      but we will be back to normal operation in a few minutes.
    </div>
  </div>
<% end %>
