<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description(assigns)} />
    <meta name="sogou_site_verification" content="GrtyJPARqi" />

    <title>{title(assigns)}</title>

    {og_tags(assigns)}
    {canonical_url(assigns)}
    {csrf_meta_tag()}

    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="Hex"
      href="/hexsearch.xml"
    />
    <%!-- Webpack bundles Bootstrap + Sass into app.css, then Tailwind loads last for highest specificity --%>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href={~p"/assets/tailwind.css"} />
    <link rel="alternate" type="application/rss+xml" title="RSS - Blog" href="/feeds/blog.xml" />

    <%= if host = Application.get_env(:hexpm, :host) do %>
      <script async defer src={"https://s.#{host}/js/script.js"}>
      </script>
      <script>
        window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};plausible.init({endpoint:"https://s.#{host}/api/event",captureOnLocalhost:true})
      </script>
    <% end %>
  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {@inner_content}

    <script src={~p"/assets/app.js"}>
    </script>
  </body>
</html>
