<%
confirm_url = url(email_uri(), ~p"/dashboard/delete-account/confirm?key=#{@key}")
%>
<%= AccountDeletionRequest.title() %>

<%= AccountDeletionRequest.message(@username) %>

<%= confirm_url %>

<%= AccountDeletionRequest.warning() %>
