New API Key Created

<%= Common.greeting(@username) %>

A new API key named "<%= @key_name %>" has been created on the <%= @username %> Hex.pm account.

<%= Common.unauthorized_change_notice(:text) %>
