<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="<%= Routes.static_path(Endpoint, "/assets/app.css") %>">
  </head>
  <body class="bg-gray-50 h-screen">
    <%= @inner_content %>

    <p>
      -- <br>
      Hex.pm
    </p>
  </body>
</html>
