<%= OrganizationDataDeletionScheduled.heading() %>

<%= OrganizationDataDeletionScheduled.body(@organization, @deletion_at) %>

<%= OrganizationDataDeletionScheduled.next_step() %>

<%= @billing_url %>
