<%= OwnerRemove.message(@username, @package) %>
<%= if @trusted_publishers != [] do %>
<%= OwnerRemove.trusted_publishers(@package) %>

<%= for trusted_publisher <- @trusted_publishers do %><%= trusted_publisher.repository %> (<%= trusted_publisher.workflow %>)
<% end %>
<%= OwnerRemove.review(@trusted_publishers_url, :text) %>
<% end %>