<%= PackagePublished.intro(@publisher, @package, @version) %>

For mix:

<%= PackagePublished.mix_code(@package, @version) %>

For rebar3:

<%= PackagePublished.rebar3_code(@package, @version) %>

--
Hex.pm
