<p><%= PackagePublished.intro(@publisher, @package, @version) %></p>

<p>
    For mix:

    <pre>
        <%= PackagePublished.mix_code(@package, @version) %>
    </pre>
</p>

<p>
    For rebar3:

    <pre>
        <%= PackagePublished.rebar3_code(@package, @version) %>
    </pre>
</p>
