<p><%= PackagePublished.intro(@publisher, @package, @version) %></p>

<p>
    <%= Common.for_mix_label() %>

    <pre>
        <%= PackagePublished.mix_code(@package, @version) %>
    </pre>
</p>

<p>
    <%= Common.for_rebar3_label() %>

    <pre>
        <%= PackagePublished.rebar3_code(@package, @version) %>
    </pre>
</p>
