<% password_reset_url = url(~p"/password/reset") %>

<%= Common.greeting(@username) %>

<%= PasswordChanged.title() %>

<%= PasswordChanged.password_reset_notice(password_reset_url, :text) %>

<%= Common.contact_support(:text) %>
