<%
new_url = Routes.password_url(Endpoint, :show, username: @username, key: @key)
%>

<%= PasswordResetRequest.title() %>

<%= PasswordResetRequest.message() %>

You can chose a new password by following this link

<%= new_url %>

<%= PasswordResetRequest.before_code() %>

<%= PasswordResetRequest.mix_code() %>

<%= PasswordResetRequest.after_code() %>
