<% password_reset_url = Routes.password_reset_url(Endpoint, :show) %>

<p><%= PasswordChanged.greeting(@username) %></p>

<p>
    <%= PasswordChanged.title() %>
</p>

<p>
  If you did not perform this change, you can reset your password by entering your email at <a href="<%= password_reset_url %>"><%= password_reset_url %></a>.
</p>

<p>
  If you have any problems don't hesitate to contact support at <a href="mailto:support@hex.pm">support@hex.pm</a>.
</p>
