<% password_reset_url = Routes.password_reset_url(Endpoint, :show) %>

<%= PasswordChanged.greeting(@username) %>

<%= PasswordChanged.title() %>

If you did not perform this change, you can reset your password by entering your email at <%= password_reset_url %>.

If you have any problems don't hesitate to contact support at support@hex.pm.
