<%
new_url = Routes.password_url(Endpoint, :show, username: @username, key: @key)
%>

<%= PasswordResetRequest.title() %>

<%= PasswordResetRequest.message() %>

You can chose a new password by following this link

<%= new_url %>

<%= PasswordResetRequest.before_code() %>

For mix:
<%= PasswordResetRequest.mix_code() %>

For rebar3:
<%= PasswordResetRequest.rebar_code() %>

<%= PasswordResetRequest.after_code() %>
