<% password_reset_url = url(~p"/password/reset") %>

<p><%= Common.greeting(@username) %></p>

<p>
    <%= PasswordChanged.title() %>
</p>

<p>
  <%= PasswordChanged.password_reset_notice(password_reset_url, :html) %>
</p>

<p>
  <%= Common.contact_support(:html) %>
</p>
