<%
new_url = url(~p"/password/new?username=#{@username}&key=#{@key}")
%>

<%= PasswordResetRequest.title() %>

<%= PasswordResetRequest.message() %>

<%= PasswordResetRequest.new_password_instruction(new_url, :text) %>

<%= new_url %>

<%= PasswordResetRequest.before_code() %>

<%= Common.for_mix_label() %>
<%= PasswordResetRequest.mix_code() %>

<%= Common.for_rebar3_label() %>
<%= PasswordResetRequest.rebar_code() %>

<%= PasswordResetRequest.after_code() %>
