<%= ReleaseRemoved.title(@package, @version) %>

<%= ReleaseRemoved.message(@package, @version) %>

<%= ReleaseRemoved.reason_heading() %>

<%= @reason %>

<%= ReleaseRemoved.questions_notice(:text) %>
