<%= ReleaseRemoved.title(@package, @version) %>

<%= ReleaseRemoved.message(@package, @version, @remaining) %>

<%= ReleaseRemoved.reason_heading() %>

<%= @reason %>

<%= ReleaseRemoved.terms_notice(:text) %>
