<%= SecretsDetected.intro(@package, @version, @findings) %>

<%= SecretsDetected.action() %>

<%= SecretsDetected.found_heading() %>
<%= for group <- SecretsDetected.groups(@findings) do %>  <%= SecretsDetected.entry(group) %>
<% end %>
<%= SecretsDetected.false_positive() %>

<%= SecretsDetected.no_action_taken() %>

<%= SecretsDetected.questions_notice(:text) %>
