<%= SecretsDetected.intro(@package, @version, length(@findings)) %>

<%= SecretsDetected.action() %>

<%= SecretsDetected.found_heading() %>
<%= for finding <- @findings do %>  <%= SecretsDetected.entry(finding) %>
<% end %>
<%= SecretsDetected.false_positive() %>

<%= SecretsDetected.no_action_taken() %>

<%= SecretsDetected.questions_notice(:text) %>
