<h1 style="color: #030913; font-size: 24px; line-height: 32px; font-weight: 600; margin: 0 0 24px 0; text-align: center;">
  Organization SSO Disconnected
</h1>

<p style="color: #304254; font-size: 16px; line-height: 24px; margin: 0 0 16px 0;">
  <%= Common.greeting(@username) %>,
</p>

<p style="color: #304254; font-size: 16px; line-height: 24px; margin: 0 0 16px 0;">
  <%= SSOIdentityUnlinked.intro(@organization, @username, @unlinked_by) %>
</p>

<p style="color: #304254; font-size: 16px; line-height: 24px; margin: 0 0 16px 0;">
  <%= SSOIdentityUnlinked.access(@locked_out) %>
</p>

<p style="color: #304254; font-size: 16px; line-height: 24px; margin: 0 0 16px 0;">
  <a href="<%= @login_url %>" style="color: #0f59d8; text-decoration: none; word-break: break-all;"><%= @login_url %></a>
</p>
<%= if questions = SSOIdentityUnlinked.questions(@organization, @username, @unlinked_by) do %>
<p style="color: #304254; font-size: 16px; line-height: 24px; margin: 0 0 16px 0;">
  <%= questions %>
</p>
<% end %>
