Organization SSO Disconnected

<%= Common.greeting(@username) %>

<%= SSOIdentityUnlinked.intro(@organization, @username, @unlinked_by) %>

<%= SSOIdentityUnlinked.access(@locked_out) %>

<%= @login_url %>
<%= if questions = SSOIdentityUnlinked.questions(@organization, @username, @unlinked_by) do %>
<%= questions %>
<% end %>