<%
verify_url = Routes.email_verification_url(Endpoint, :verify, username: @username, email: @email, key: @key)
%>

<p>
    <%= Verification.intro() %>
</p>

<p>
    You can do so by following <a href="<%= verify_url %>">this link</a> or by pasting this link in your web browser: <%= verify_url %>
</p>
