<%
verify_url = url(~p"/email/verify?username=#{@username}&email=#{@email}&key=#{@key}")
%>

<p>
    <%= Verification.intro() %>
</p>

<p>
    <%= Common.follow_link_instruction(verify_url, :html) %>
</p>
