<div class="row">
  <div class="col-sm-3">
    <%= render DashboardView, "_sidebar.html", assigns %>
  </div>

  <div class="col-sm-9">
    <%= render DashboardView, "_audit_logs.html", Map.merge(%{path_fn: &~p"/dashboard/audit-logs?page=#{&1}"}, assigns) %>
  </div>
</div>
