<div class="row">
  <div class="col-sm-3">
    <%= render DashboardView, "_sidebar.html", assigns %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">Recent activities</div>
    </div>
  </div>
</div>
