name: CI

on: [push, pull_request]

jobs:
  formatter:
    name: Run mix format
    runs-on: ubuntu-20.04
    steps:
      - uses: supersimple/mix-format@v1
        with:
          elixir_version: 1.16.2
          otp_version: 26.2.3
          mix_env: dev

  lint:
    name: Run linters
    runs-on: ubuntu-20.04
    env:
      otp: 26.2.3
      elixir: 1.16.2

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.otp }}
          elixir-version: ${{ env.elixir }}

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-elixir-${{ env.elixir }}-otp-${{ env.otp }}-${{ hashFiles('**/mix.lock') }}

      - name: Install dependencies
        run: mix do deps.get, deps.compile

      - name: Check compilation warnings
        run: mix compile --warnings-as-errors

      - name: Check formatting
        run: mix format --check-formatted

      - name: Verify seeds
        run: mix ecto.setup

  test-hexpm:
    name: Test Hexpm
    runs-on: ubuntu-20.04
    env:
      otp: 26.2.3
      elixir: 1.16.2

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.otp }}
          elixir-version: ${{ env.elixir }}

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-elixir-${{ env.elixir }}-otp-${{ env.otp }}-${{ hashFiles('**/mix.lock') }}

      - name: Install dependencies
        run: mix do deps.get, deps.compile

      - name: Compile
        run: MIX_ENV=test mix compile

      - name: Run tests
        run: mix test

  test-hex:
    name: Test Hex
    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        hex-version: [main, v2.0, v1.0]

    env:
      HEXPM_PATH: ..
      otp: 23.1.1
      elixir: 1.14.0

    steps:
      - uses: actions/checkout@v3

      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.otp }}
          elixir-version: ${{ env.elixir }}

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-elixir-${{ env.elixir }}-otp-${{ env.otp }}-${{ hashFiles('**/mix.lock') }}

      - name: Install hexpm dependencies
        run: |
          mix deps.get
          mix deps.compile

      - name: Clone hex
        run: |
          git clone https://github.com/hexpm/hex hex -b ${{ matrix.hex-version }} --depth 1

      - name: Cache hex dependencies
        uses: actions/cache@v3
        with:
          path: |
            hex/deps
            hex/_build
          key: ${{ runner.os }}-elixir-${{ env.elixir }}-otp-${{ env.otp }}-hex-${{ matrix.hex-version }}-${{ hashFiles('hex/mix.lock') }}

      - name: Install dependencies
        run: |
          cd hex && mix deps.get && MIX_ENV=test mix deps.compile && cd ..

      - name: Run tests
        run: cd hex && mix test --include integration && cd ..
